body, h1, h5, p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F55A5A;
  height: 60px;
  font-family: 'Inter', sans-serif;
  font-size: 14.46px;
  color: #FFFFFF;
  font-weight: 300;
  margin-bottom: 3rem;
}

nav h3 {
  margin-left: 5px;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 400px;
  margin: auto;
  font-family: 'Inter', sans-serif;
}

.main--img {
  min-width: 150px;
  height: 200px;
  border-radius: 5%;
}

.main a {
  font-size: 13px;
  margin: 5px 0px;
}

.main h5 {
  font-size: 13px;
  margin: 2px 20px;
}

.main--top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

  .main--top h5::before {
    content: url(./components/images/path.png);
    margin-right: 5px;
  }

.main h1 {
  margin-top: 10px;
  margin: 10px 20px;
}

.main p {
  margin: 20px 20px;
  text-align: center;
  line-height: 25px;
}

.border {
  background-color: black;
  height: 1px;
  width: 35%;
  margin: 30px auto;
}

@media only screen and (min-width: 768px) {

  .main {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .main--bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
  }

  .main--top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }

    .main--top h5 {
      font-size: 16px;
      letter-spacing: 3px;
    }

    .main--top a {
      font-size: 0.9rem;
      color: #918E9B;
    }
    
  .main p {
    text-align: left;
  }

  .main--top h5::before {
    content: url(./components/images/path.png);
    transform: scale(1.5);
    display: inline-block;
    margin-right: 1rem;
  }
}